body {
  background-color: #035e7c;
  margin: 0px;
}
h1 {
  background-color: #000b35;
  text-decoration: underline;
  text-decoration-color: #7a7a7c;
  color: #013512;
  margin-top: 0px;
  text-align: center;
  font-size: 60px;
  border-color: #250338;
  border-style: inset;
  border-width: 10px;
  padding: 50px;
  text-shadow: -2px 2px black;
  padding-top: 10px;
  padding-bottom: 25px;
}
h2 {
  text-decoration: underline;
  text-decoration-color: #7a7a7c;
  color: #033819;
  margin-top: 0px;
  text-shadow: -0.5px 0.5px black;
  font-size: 40px;
}
input {
  background-color: darkcyan;
  border-style: double;
  border-color: #04514d;
  border-radius: 20px;
  color: #033819;
  border-width: 5px;
  font-weight: 400;
  padding: 10px;
}
button {
  background-color: #0c6d68;
  border-style: double;
  border-color: #04514d;
  border-radius: 20px;
  border-width: 5px;
  color: #033819;
  padding: 10px;
  margin-left: 25px;
  margin-top: 5px;
  margin-right: 10px;
}
.no {
  text-decoration: none;
}
canvas {
  background-color: #000b35;
  border-color: #250338;
  border-style: inset;
  border-width: 5px;
  margin-right: 200px;
  margin-top: -280px;
  padding: 30px;
}
