body {
  background-color: grey;
  margin: 0px;
}
h1 {
  background-color: #727375;
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  margin-top: 0px;
  text-align: center;
  font-size: 60px
  padding: 50px;
  border-style: inset;
  border-width: 10px;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 25px;
}
h2 {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  margin-top: 0px;
  font-size: 40px;
  margin-left: 10px;
}
input {
  background-color: #727375;
  border-style: double;
  border-color: black;
  border-radius: 5px;
  color: black;
  border-width: 5px;
  font-weight: bold;
}
button {
  background-color: #727375;
  border-style: double;
  border-color: black;
  border-radius: 20px;
  border-width: 5px;
  color: black;
}
.no {
  text-decoration: none;
}
